[Unit]
Description= start and stop scala-akka-http-server for Ubuntu (systemd)
After=network.target

[Service]
Type=simple
User=samskritam
WorkingDirectory=/home/samskritam/scala-akka-http-server/
ExecStart=/usr/bin/sbt run

[Install]
WantedBy=multi-user.target